:root {
    /* Colors */
    --color-grey-900: hsl(187, 24%, 22%);
    --color-grey-500: hsl(186, 15%, 59%);
    --color-white: hsl(0, 0%, 100%);
    --color-green-600: hsl(169, 82%, 27%);
    --color-green-200: hsl(148, 38%, 91%);
    --color-red: hsl(0, 66%, 54%);

    /* Typography - Fonts */
    --font-family-karla: 'Karla', sans-serif;

    /* Typography - Weights */
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /* Typography - Sizes */
    --font-size-heading: 32px;
    --font-size-body-md: 18px;
    --font-size-body-sm: 16px;

    /* Typography - Line Heights */
    --line-height-tight: 100%;
    /* For headings */
    --line-height-standard: 150%;
    /* For body text */

    /* Typography - Letter Spacing */
    --letter-spacing-tight: -1px;
    --letter-spacing-normal: 0px;
}

body {
    font-family: var(--font-family-karla);
    background-color: var(--color-green-200);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 32px;
    padding-inline: 16px;
}

main {
    background-color: var(--color-white);
    border-radius: 16px;
    padding: 24px;
}


.success-message {
    display: none;
    background-color: var(--color-grey-900);
    color: var(--color-white);
    padding: 24px;
    border-radius: 12px;
    position: fixed;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 90%;
    max-width: 450px;
}

.success-header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.success-header h2 {
    font-size: var(--font-size-body-md);
    font-weight: var(--font-weight-bold);
}

form {
    display: grid;
    gap: 24px;
}

h1 {
    margin-bottom: 32px;
    font-size: var(--font-size-heading);
    color: var(--color-grey-900);
}

.form-group {
    display: flex;
    flex-direction: column;
}

fieldset {
    border: none;
    display: grid;
    gap: 16px;
    padding-inline: 0;
}

fieldset .radio-group {
    border: 1px solid var(--color-grey-500);
    border-radius: 8px;
    padding-inline: 24px;
    padding-block: 12px;
}

fieldset .radio-group label {
    font-size: var(--font-size-body-md);
    color: var(--color-grey-900);
}

fieldset .radio-group:has(input:checked) {
    border: 2px solid var(--color-green-600);
    background-color: var(--color-green-200);
}

input[type="text"],
input[type="email"],
textarea {
    border: 1px solid var(--color-grey-500);
    border-radius: 8px;
    padding-inline: 24px;
    padding-block: 12px;
    transition: border-color 0.2s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: var(--color-green-600);
    outline: 2px solid var(--color-green-600);
    outline-offset: 2px;
}

input[type="radio"] {
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
}

input[type="radio"]+label {
    position: relative;
    cursor: pointer;
    margin-left: 20px;
    padding-left: 12px;
}

input[type="radio"]+label::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    left: -22px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    border: 2px solid var(--color-grey-500);
    background: transparent;
}

input[type="radio"]+label::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: -18px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

input[type="radio"]:checked+label::after {
    background-color: transparent;
    background-image: url(assets/images/icon-radio-selected.svg);
    background-repeat: no-repeat;
    background-position: center;
}

/* Focus state for accessibility */
input[type="radio"]:focus+label::before {
    box-shadow: 0 0 0 2px var(--color-white), 0 0 0 4px var(--color-green-600);
}

textarea {
    resize: vertical;
}

input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover {
    border-color: var(--color-green-600);
}

.checkbox-group {
    display: grid;
    grid-template-columns: 18px auto;
    align-items: center;
    column-gap: 16px;
    row-gap: 10px;
}

.checkbox-group label {
    font-size: var(--font-size-body-sm);
    color: var(--color-grey-900);
}

.checkbox-group input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: inherit;
    margin: 0;
    width: 18px;
    height: 18px;
    border: 1px solid var(--color-grey-500);
    cursor: pointer;
}

.checkbox-group [type="checkbox"]:focus {
    border-color: var(--color-green-600);
    outline: 2px solid var(--color-green-600);
    outline-offset: 2px;
}

.checkbox-group input[type="checkbox"]:checked {
    background-image: url(assets/images/icon-checkbox-check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
}

.checkbox-group .error {
    grid-column: 1 / -1;
    margin-top: 0;
}

.error {
    color: var(--color-red);
    margin-top: 8px;
    display: none;
}

.input-error {
    border-color: var(--color-red) !important;
}

.btn-submit {
    background-color: var(--color-green-600);
    padding-inline: 40px;
    padding-block: 16px;
    border: none;
    border-radius: 8px;
    font-size: var(--font-size-body-md);
    font-weight: var(--font-weight-bold);
    color: var(--color-white);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: var(--color-grey-900);
}

.btn-submit:focus-visible {
    outline: 2px solid var(--color-grey-900);
    outline-offset: 2px;
}



@media (min-width: 690px) {
    form {
        grid-template-columns: 1fr 1fr;
    }

    .form-group:has(input[type="email"]),
    .form-group:has(textarea),
    fieldset,
    .checkbox-group,
    .btn-submit {
        grid-column: 1 / -1;
    }

    fieldset {
        grid-template-columns: 1fr 1fr;
        padding-inline: 0;
    }

    fieldset legend,
    fieldset .error {
        grid-column: 1 / -1;
    }
}